#wrapper {
	height:180px; /* since the sections inside will be taken out
	of the normal flow, the wrapper won't know how tall to be; given
	that we have to specify a height. Later, we'll look at another
	fix for this that doesn't require locking your layout into a set
	height */
	width:300px;
	border:1px solid black;
	padding:10px;
}

section {
	width:50%;
}

#pros {
	float:left;
}

#cons {
	float:left;
}